h1{
    color:red
}
.home-intro
{
    text-align: center;
    border:5px blue solid;
    box-shadow: 10px 10px 5px grey;

}
.home-intro:hover
{
    background-color: lightgreen;
}
#p2
{
    color: green;
}
#nav
{
    background-color: lightblue;
    text-align: center;
    margin: 20px;
}